<form action="/favorites/unfavorite" method="post" >
  <input type="hidden" name="landmark_id" value="<%= @landmark.id %>">
  <input type="submit" value="Unfavorite" class="btn btn-warning">

</form>
