<li class="list-group-item">
  <%= link_to user.email, user %>
  <!-- <% if !current_user?(user) %>
    | <%= link_to 'delete', user, method: :destroy,
                                  data: { confirm: 'Are you sure?' } %>
  <% end %> -->
</li>
