<h1>Welcome!</h1>
<p>
  Welcome to The Landmark Locator, your one stop shop for FUN!! Here you can find interesting places to go and things to do based on location and various amenities.
</p>
<div style='width: 800px;'>
  <div id="map"></div>
</div>
