<div class="form-group rateButton">
<%= form_for([@landmark, @star_rating]) do |f| %>
  <div id="star-rating">
  </div>
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
           Rate!
    <% end %>
<% end %>
</div>
