 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "welcome";
 @import "users";
 @import "landmarks";

 #gpin {
   height: 50px;
   padding-bottom: 30px;
   padding-top: 0px;

}

 .navbar-brand {
   padding-right: 1px;
   font-family: 'Questrial', sans-serif;
 }
 //   position: absolute;
 //   z-index: 1;
 //   padding-right: 100px;
 // }
