 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "welcome";
 @import "users";

 #gpin {
   height: 50px;
   padding-bottom: 30px;
   padding-top: 0px;

}

 .navbar-brand {
   padding-right: 1px;
   font-family: 'Questrial', sans-serif;
 }
 //   position: absolute;
 //   z-index: 1;
 //   padding-right: 100px;
 // }

// body {
//   background-color: #d1bcbc;
// }
//
// td {
//   background-color:	#d1bcbc;
// }
//
// .well, .navbar {
//   background-color: 	#d1bcbc;
// }
//
.well {
  margin-top: 15px;
}

.pic_size {
  width: 300px;
  height: 300px;
}

#ourteam {
  text-align: center;
}

#image {
  align-content: center;
}
