// Place all the styles related to the Landmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.favbtn {
  text-align: center;
  width: 170px;
  margin-right: 10px;
  background-color: #2ECC71;
}

.unfavbtn {
  text-align: center;
  width: 170px;
  margin-right: 10px;
  background-color: #E74C3C;
}
