#map {
  height: 500px;
  width: 470px;
}
#map img {
  max-width: none;
}
#map label {
  width: auto; display:inline;
}
#map2 {
  height: 385px;
  width: 350px;
}
#map2 img {
  max-width: none;
}
#map2 label {
  width: auto; display:inline;
}

tr:hover {
   background: #F8F8FF;
}
td a {
   display: block;
   padding: 10px;
   text-decoration: none;
   color: black;
}

a:hover{
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.giveMeEllipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 5; /* number of lines to show */
   line-height: 1.3;        /* fallback */
   max-height: 1*5;       /* fallback */
}

.custom {
    width: 78px !important;
    margin-right: 8px;
}

.btnmar {
    // position: absolute;
    // left:0;
    // right:0;
    display: inline;
    margin-left:auto;
    margin-right:auto;
}

.btn1 {
  float: right;
}

// Ensures that the addition of a scroll bar does not move nav bar or nav
// pills on the myProfile page
html {
  overflow-y: scroll;
}
.welcome {
  display: inline;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid lightgray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.flow_r {
  float: right;
}
